@import 'utils';

.base.header {
  .header-wrapper {
    // width: 1200px;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .brand {
      font-size: 2.25rem;
      font-family: Source+Sans+Pro, monospace;
      font-weight: 700;
    }
    nav {
      margin-left: 2rem;
      a {
        color: $oc-gray-7;
        &.active {
          color: $oc-teal-7;
        }
        & + a {
          margin-left: 1rem;
        }
      }
    }
    .right {
      margin-left: auto;
    }
  }
}
